@import "compass/css3";
@import "compass/css3/user-interface";

@include font-face('Open Sans', font-files("OpenSans.woff",
  "OpenSans.ttf", "OpenSans.svg"), "OpenSans.eot");

body {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  }

input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
  }

input, textarea {
  &:focus { outline: none !important; }
  }

a {
  &, &:hover {
    text-decoration: none;
    cursor: pointer;
    }

  &:focus { outline-style: none; }
  }
